/* ACTION BUTTONS */

.buttons {
    background: #fff url(../../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.buttons input.delete {
    background: transparent url(../../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.edit {
    background: transparent url(../../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.save {
    background: transparent url(../../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.display {
    background: transparent url(../../images/skin/eye.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.report {
    background: transparent url(../../images/skin/chart_bar.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.cancel {
    background: transparent url(../../images/skin/cancel.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.previous {
    background: transparent url(../../images/skin/resultset_previous.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.next {
    background: transparent url(../../images/skin/resultset_next.png) 5px 50% no-repeat;
    padding-left: 28px;
}
