
.otstup-top {
    padding-top: 5px;
}

.otstup-left {
    padding-left: 5px;
}

.otstup-bottom {
    padding-bottom: 5px;
}

.under {
    vertical-align: baseline;
}

.full_width {
    width: 100%;
}

legend.lpu {
    background: transparent url(../../images/icons/lpu_2.png) 5px 50% no-repeat;
    padding-left: 35px;
}

legend.structure {
    background: transparent url(../../images/skin/sitemap_color.png) 5px 50% no-repeat;
    padding-left: 30px;
}

a.lpu {
    background: transparent url(../../images/icons/lpu_2.png) 5px 50% no-repeat;
    padding-left: 35px;
}

.button_in_div {
    margin-left: 5px;
    margin-right: 5px;
}

.button_in_div_last {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.pre-left {
    margin-left: 5px;
}

.pre-right {
    margin-right: 5px;
}

span.required {
    color: #BA0000;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}




